name: Update Code Coverage Badge

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  update-coverage-badge:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v2

      # Setup JDK
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      # Run tests and generate coverage report
      - name: Run tests and generate coverage report
        run: ./gradlew koverlog

      # Update coverage badge
      - name: Update Coverage Badge
        run: ./gradlew updateCoverageBadge  updateKotlinBadge

      # Commit changes to README.md
      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions Bot"
          git add README.md
          git commit -m "Update code coverage badge" || echo "No changes to commit"
          git remote set-url origin https://${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          git push origin HEAD:${{ github.ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}