name: Update Code Coverage Badge

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  update-coverage-badge:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup JDK
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      # Run tests and generate coverage report
      - name: Run tests and generate coverage report
        run: ./gradlew koverlog

      # Update coverage badge
      - name: Update Coverage Badge
        run: ./gradlew updateCoverageBadge updateKotlinBadge

      - name: Commit changes to a new branch
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions Bot"
          git checkout -b update-coverage-badge-$(date +'%Y%m%d%H%M%S')
          git add README.md
          git commit -m "Update code coverage badge" || echo "No changes to commit"
          git remote set-url origin https://${{ secrets.MY_GITHUB_SECRET }}@github.com/${{ github.repository }}.git
          git push origin HEAD

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.MY_GITHUB_SECRET }}
          title: "Update code coverage badge"
          body: "Automated update of the code coverage badge."
          branch: update-coverage-badge-$(date +'%Y%m%d%H%M%S')