name: Update Code Coverage Badge

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  update-coverage-badge:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup JDK
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      # Run tests and generate coverage report
      - name: Run tests and generate coverage report
        run: ./gradlew koverlog

      # Update coverage badge
      - name: Update Coverage Badge
        run: ./gradlew updateCoverageBadge updateKotlinBadge

      # Define a timestamp variable
      - name: Set timestamp
        run: echo "TIMESTAMP=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      # Verify the current branch and create a new branch if needed
      - name: Verify Current Branch
        run: |
          CURRENT_BRANCH=$(git branch --show-current)
          if [ "$CURRENT_BRANCH" != "main" ]; then
            git checkout main
            git checkout -b update-coverage-badge-${TIMESTAMP}
          fi
        env:
          TIMESTAMP: ${{ env.TIMESTAMP }}

      # Commit changes to a new branch
      - name: Commit changes to a new branch
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions Bot"
          git add README.md
          git commit -m "Update code coverage badge" || echo "No changes to commit"
          git remote set-url origin https://${{ secrets.MY_GITHUB_SECRET }}@github.com/${{ github.repository }}.git
          git push origin update-coverage-badge-${TIMESTAMP}

      # Create a Pull Request
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.MY_GITHUB_SECRET }}
          title: "Update code coverage badge"
          body: "Automated update of the code coverage badge."
          base: main # specify the main branch as the base
          branch: update-coverage-badge-${{ env.TIMESTAMP }}
