name: Update Code Coverage Badge

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  update-coverage-badge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up GraalVM
        uses: DeLaGuardo/setup-graalvm@4.0
        with:
          graalvm-version: '21+35.1'
          java-version: '21'

      - name: Build and run kover
        run: |
          ./gradlew build kover

      - name: Update README badge
        run: ./gradlew updateCoverageBadge

      - name: Commit and push if changed
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<github-actions-bot@example.com>"
          git diff --exit-code || git commit -am "Update code coverage badge" && git push
